.page{
    background-color: #75295A;
    height: 100%;
    
}

.titulo{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #75295A;
}
.imagem{
    text-align: center;
}