.botaoRoxo{
    background-color: #75295A !important;
    border-color: #75295A !important;
}

.botaoLaranja{
    background-color: #FF7506 !important;
    border-color: #FF7506 !important;
}

.botaoBranco{
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: black !important;
}